# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Node/JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# Generated data and models
backend/data/raw/*
backend/data/processed/*
backend/models/*
!backend/data/raw/.gitkeep
!backend/data/processed/.gitkeep
!backend/models/.gitkeep

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.json


#aws
.aws-sam/
samconfig.toml

#frontend
frontend/package-lock.json
frontend/.next/
frontend/node_modules/
frontend/.env
