fastapi==0.104.0
pydantic==2.4.2
pydantic-settings==2.0.3
mangum==0.17.0
uvicorn==0.24.0
sqlalchemy==2.0.22
python-jose==3.3.0
python-multipart==0.0.6
passlib==1.7.4
bcrypt==4.0.1
pandas==2.1.1
numpy==1.26.0
requests==2.31.0
psycopg2-binary==2.9.11
dotenv==0.9.9
Faker==25.2.0

